@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers (Chrome, Safari) */

/* Track */
::-webkit-scrollbar {
    width: 12px;
    /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #4e4e4e;
    /* Set the color of the scrollbar handle */
    border-radius: 6px;
    /* Set the border radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #424242;
    /* Set the color of the scrollbar handle on hover */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
    background-color: #ddd;
    /* Set the color of the scrollbar track on hover */
}

/* Track fill */
::-webkit-scrollbar-track-piece {
    background-color: #ddd;
    /* Set the color of the scrollbar track */
}

/* Handle when grabbing it */
::-webkit-scrollbar-thumb:active {
    background-color: #333;
    /* Set the color of the scrollbar handle when grabbing it */
}

.title-nav {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
    background-color: #0a335c;

}



:root {
    --main-color: #4a76a8;
}

.bg-main-color {
    background-color: var(--main-color);
}

.text-main-color {
    color: var(--main-color);
}

.border-main-color {
    border-color: var(--main-color);
}